/lab1
/lab2
/lab3
/lab4
/lab5
/lab6
/lab7
/lab8
/lab9
/modul
/LabRasp2/lab1_2/.idea
/LabRasp2/lab1_2/target
/LabRasp2/lab3/.idea
/LabRasp2/lab3/target
/LabRasp2/lab4/.idea
/LabRasp2/lab4/target
/LabRasp2/lab5/.idea
/LabRasp2/lab5/target
/LabRasp2/lab6/.idea
/LabRasp2/lab6/target
/LabRasp2/lab6/build
.gitignore