/lab1/.idea/
/lab1/target/
/lab2/taskBC/.idea/
/lab2/taskBC/target/
/lab2/taskA/.idea/
/lab3/taskAB/.idea/
/lab3/taskAB/target/
/lab3/taskC/.idea/
/lab4/taskAB/.idea/
/lab4/taskAB/target/
/lab4/taskC/.idea/
/lab5/taskAB/.idea/
/lab5/taskAB/target/
/lab5/taskC/.idea/
/lab6/.idea/
/lab6/target/
/lab7/.idea/
/lab7/target/
